# Göteborgsvarvet

In [1]:
import geopandas as gpd
import fiona
fiona.drvsupport.supported_drivers['kml'] = 'rw' # enable KML support which is disabled by default
fiona.drvsupport.supported_drivers['KML'] = 'rw' # enable KML support which is disabled by default
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

from pylab import rcParams
rcParams['figure.figsize'] = 20, 10

In [2]:
import get_movescount
from get_movescount import Urls

In [3]:
session = get_movescount.get_session()

In [14]:
with open('authenticate.json','r') as file:
    authenticate = json.load(file)

In [15]:
get_movescount.login(session = session,email=authenticate['email'],password=authenticate['password'])

In [5]:
df_moves = get_movescount.get_overview(session = session)

In [6]:
df_moves.head()

,ActivityID,AvgHR,Distance,Duration,LocalStartTime,StartLatitude,StartLongitude,UTCStartTime,eventAuthor,eventAuthorGender,...,eventDataSourceScope,eventFeedId,eventFreshUntil,eventId,eventObjectId,eventObjectType,eventReceived,eventType,eventUpdated,objectFeedId
0,3,182.0,21332,5150.1,2018-05-19T13:03:24,57.680161,11.940248,2018-05-19T11:03:22Z,morke,m,...,production,371984,2018-05-21T11:03:22Z,73ed15dc-a12a-4de7-b637-8e8dd066d61c,218491095,move,2018-05-19T15:58:53.091Z,create,2018-05-19T15:58:53.091Z,move/218491095
1,3,NaN,4,58.8,2018-05-18T20:20:02,57.689058,11.925558,2018-05-18T18:19:58Z,morke,m,...,production,371984,2018-05-20T18:19:58Z,0c2b751a-7f23-4063-bfbb-0ac3b5b8c126,218491077,move,2018-05-19T15:58:52.215Z,create,2018-05-19T15:58:52.215Z,move/218491077
2,3,NaN,0,32.7,2018-05-18T20:11:06,57.689016,11.925500,2018-05-18T18:11:02Z,morke,m,...,production,371984,2018-05-20T18:11:02Z,fbb53d18-77d5-4a4c-b151-007a00045728,218491069,move,2018-05-19T15:58:48.035Z,create,2018-05-19T15:58:48.035Z,move/218491069
3,3,NaN,0,12.1,2017-10-05T19:14:08,NaN,NaN,NaN,morke,m,...,production,371984,2017-10-07T17:14:08Z,cdd6311c-344d-45da-b764-d5fee20b80e4,218312556,move,2018-05-18T17:39:25.937Z,create,2018-05-18T17:39:25.937Z,move/218312556
4,3,187.0,9616,2247.8,2017-05-29T18:00:08,NaN,NaN,NaN,morke,m,...,production,371984,2017-05-31T16:00:08Z,2515497d-5c45-4036-8c39-a325b41a5e0f,166184035,move,2017-07-13T21:25:39.360Z,create,2017-07-13T21:25:39.360Z,move/166184035

In [7]:
move = df_moves.iloc[0]

In [9]:
df = get_movescount.get_move(session=session,move = move)